.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.container_logo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.avatar {
  width: 42px;
  height: 42px;
}